<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blueberry chat</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='colored_blueberry.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <a href="https://github.com/czett/blueberry" target="_blank">
        <div class="logo">
            <img src="{{url_for('static', filename='blueberry.png')}}" alt="vorp">
            <div>blueberry</div>
        </div>
    </a>
    
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <form action="/answer" enctype="multipart/form-data" method="post" class="nodge">
        <img src="{{url_for('static', filename='colored_blueberry.png')}}" alt="vorp">
        <input type="text" spellcheck="false">
        <button type="submit">go</button>
    </form>
    
    <div class="chat">
        <!-- <div class="overlay"></div> -->
        <div class="prompt">
            <!-- <div class="p0"></div> -->
        </div>
        <div class="answer">
            <!-- <div class="a0"></div> -->
        </div>
    </div>
    
    <script src="{{url_for('static', filename='chat.js')}}"></script>
</body>
</html>